@charset "utf-8";

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  background-image: image_url("icon.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #523119;

  a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
  }
}
